body{
    background-color: rgb(99, 100, 106);
}
table{
  background-color: rgba(0, 256, 0, 0.5);
  border-collapse: collapse;
  border: 2px solid blue;
}
th, tr, td{
    border: 2px solid black;
}
tr,th {
    padding: 2px;
    width: 63,7px;
}
td.lezione{
    padding: 5px;
    border: 2px solid black;
    background-color: red;
}

div.orario{
    float: left;
    width: 540px;
    border-right: 2px solid gray;
    padding: 10px;
}

div.testo{
    float: left;
    width: 240px;
    padding: 10px;
    left: 560px;
    border-bottom: 2px solid gray;
}

p.aaa{
    display: inline;
}

div.mainbody{
    margin: 0px auto;
    width: 1000px;
    overflow: auto;
    background-color: rgb(86, 86, 94);
}

div.header{
    margin: 0px auto;
    width: 1000px;
    height: 60px;
    background-color: rgb(73, 75, 85);
    text-align: center;

}